# Created by venv; see https://docs.python.org/3/library/venv.html
*
!*.gitignore

!data/
!data/data_fetch.py
!data/preprocess.py

!models/
!models/ml_model.py
!models/model.py

!src/
!src/indicators.py
!src/main.py
